/* imp generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container-flex{
  display: flex;
  flex-direction: row;
}


/* lato sinistro */
.navLeft{
  width: 400px;
  height: 100vh;
  background-color:#131c21;
  border-right: 0.1px solid white;
}

.nL-top{
  width:100%;
  height: 60px;
  background-color: #2a2f32;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

.imp-profilo li{
  font-size: 20px;
  list-style-type: none;
  float: left;
  margin-right: 20px;
  color: #b2b3b5;
}

/* barra input di ricerca conversazione */
.ricerca{
  width:100%;
  height: 40px;
  background-color: #131c21;
  display: flex;
  justify-content: center;
}

.input{
  width: 90%;
  height: 30px;
  background-color: #2a2f32;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #b2b3b5;
}

.input input{
  width: 90%;
  height: 90%;
  background-color: #2a2f32;
  border: none;
  color: #b2b3b5;
  font-size:12px;
}

.chatta{
  width: 100%;
  height: calc(100vh - 100px);
  overflow: auto;
}

.contain:after{
  content: "";
  display: table;
  clear: both;
}

.contatto{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #b2b3b5;
}

.contatto img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
}

.infoCont{
  width: 80%;
  height: 100%;
  margin: auto;
  font-size: 12px;
}

.nomeCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.nomeCont>span{
  font-weight: bold;
  color: white;
}

.messCont img{
  width: auto;
  height: 12px;
}

.messCont{
  width: 100%;
  height: 40%;
  margin-top: 10px;
  border-bottom: 1px solid #b2b3b5;
}


/* lato destro */
.conversazione{
  width: calc(100vw - 400px);
  height: 100vh;
  background-color: lightblue;
}

.profilo-top{
  display: flex;
  flex-direction: row;
}

.profile{
  margin-right: 15px;
}


/* spazio conversazione  */
.chat-aperta{
  width: 100%;
  padding: 20px 10%;
  height: calc(100vh - 120px);
  background-image: url("../img/sfondo.jpg");
  background-size: contain;
  background-attachment: fixed;
  color: #b2b3b5;
}

.invio{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.invio-verde{
  background-color: #0b7b7c;
  border-radius: 20px 0px 20px 20px;
  padding: 10px ;
}

.risposta{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.risposta-grigio{
  background-color: #3e464b;
  border-radius: 0px 20px 20px 20px;
  padding: 10px;
}


/* barra scrivi il messaggio */
.navBot{
  width:100%;
  height: 60px;
  background-color: #131c21;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #b2b3b5;
  font-size: 20px;
}

.navBot >span{
  margin: auto;
}

.navBot >span i{
  padding: 5px;
}

.navBot input{
  width: 85%;
  height: 70%;
  background-color: #2a2f32;
  border: none;
  border-radius: 20px;
  color: #b2b3b5;
  font-size:12px;
  padding-left: 20px;
}
